

.header_container{
    padding: 1rem 0;
    background: rgb(26, 148, 255);
    align-items: center;
    .logo_container{
        display: flex;
        flex-direction: column;
    }
    .ant-col{
        padding: 0 2rem;
    }
    .formSearch_container{
        .ant-input-group-addon{
            background: rgb(13, 92, 182) !important;
            button.ant-btn.ant-input-search-button{
                background: rgb(13, 92, 182) !important;
            }
        }
    }
    .header_account_container,
    .header_cart_container{
        display: flex;
    }
}
.main_footer_container{
    padding: 1rem ;
    background: #fff;
    padding: 1rem 8%;
}

.main_container{
    padding: 1rem 0;
    background: #efefef;
    width: 84%;
    margin: 0 auto;

    .sectionContainer{
        padding: 1rem 0;
        background: #efefef;
    }

    .titleHeading{
        background-color: #fff;
        border-radius: 3px;
        padding: 0.5rem;
        margin-bottom: 10px;
    }

    .widgetContainer{
        margin-bottom: 10px;
    }

    .productContainer{
        background:  #fff;
        padding: 1rem;
        .productItem{
            p{
                margin: 0;
            }
        }
    }
}

.login_popup_container{
    .ant-modal-body{
        padding: 0;
    }
    .leftside{
        padding: 1rem;
    }

    .rightside{
        background: linear-gradient(136deg, rgb(240, 248, 255) -1%, rgb(219, 238, 255) 85%);
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 80%
        }
        
    }
}

